{% extends "base.html" %}

{% block content %}
<h2 style="text-align: center">Works Log</h2>
{% for job in jobs_list %}
<h3>Action # {{ job.id }}</h3>

<table class="table" id="marstable">
    <thead>
        <tr style="background-color: #dddddd">
            <th scope="col">Title of activity</th>
            <th scope="col">Team leader</th>
            <th scope="col">Duration</th>
            <th scope="col">List of collaborators</th>
            <th scope="col">Is finished</th>
        </tr>
    <thead>
    <tbody>
        <tr style="background-color: #eeeeff">
            <td>{{ job.job }}</td>
            <td>{{ job.team_leader }}</td>
            <td>{{ job.work_size }}</td>
            <td>{{ job.collaborators }}</td>
            {% if job.is_finished %}
            <td>Is finished</td>
            {% else %}
            <td style="background-color: #ffeeff">Is not finished</td>
            {% endif %}
        </tr>
    </tbody>
</table>

{% endfor %}
{% endblock %}
